*{
box-sizing: border-box;
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;
}

body {
background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


form > h3{
width: 70%;
margin: 0;
padding: 0;
color: red;
justify-content: center;
display: flex;
position: absolute;
top: 2em;
font-weight: 700;
}


html, body {
margin: 0;
padding: 0;
width: 100%;
min-height: 100%;
}


header{
display: flex;
color: white;
padding: 0;
justify-content: center;
height: 10vh;
background:#09363762;
align-items: center;
}


footer{
display:flex;
background:#09363762;
height: 10vh;
}


footer > div{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}


footer > div > a{
text-decoration: none;
color: white;
font-weight: bolder;
margin: 2em;
}


.container {
height: 80vh;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

} 


form > h2{
color: white;
width: 90%;
display: flex;
justify-content: center;
font-weight: 600;
margin-bottom: 2em;
padding-top: 0;
} 


.container form{
display: flex;
justify-content: center;
align-items: center;
border: 2px solid white;
backdrop-filter: blur(10px);
padding: 5em;
border-radius: 1em;
background: rgba(255, 255, 255, 0.219);
box-shadow: 2px 1px 0.5em white;
flex-wrap: wrap;
} 


.container > form label{
color: white;
font-weight: bolder;
margin-left: 1em;
}


.container > form div{
margin:  0.2em 1em;
}

.button{
display: flex;
justify-content: center;
}

button{
width: 100%;
justify-content: center;
border-radius: 0.5em;
height: 3em;
align-items: center;
  background: rgba(255, 255, 255, 0.603);
  color: rgb(49, 49, 49);
  font-weight: 600;
margin: 1em;
}

input{
border-radius: 0.3em;
height: 2em;
}

h2 {
display: block;
}

.poppins-thin {
font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: normal;
}


.errores{
position: absolute;
top: 1em;
color:red;
font-weight: 900;
}

.individual_log{
display: flex;
background: rgba(255, 255, 255, 0.144);
flex-wrap: wrap;
border: 3px solid white;
border-radius: 1em;
margin:1em 4em;
padding: 0.5em;
color: white;
}

.individual_log span{
font-weight: bolder;
}

.individual_log > div , .individual_log > div > div {
display: flex;
flex: 1
}

.individual_log > div {
min-width: 100%;
margin:0.2em;
}

.individual_log > div > div{
font-weight: bolder;
margin:0.2em;
background: rgba(255, 255, 255, 0.144);
padding: 0.5em;
border-radius: 0.3em;
}

.individual_log > div:nth-child(3){ 
margin:0.5em 0.2em;
}

.user_name  {
display: flex;
}
.user_name > p {
color: white;
font-weight: bolder;
margin:0.4em 0.3em 0.3em 4em;

}

.user_name > h2{
color: white;
font-weight: bolder;
margin:0;
padding: 0 0.2em ;
}

a{
font-weight: bolder;
color: white;
}

.links{
display: flex;
justify-content: space-between;

}

.links > div{
max-width: 15em;
justify-content: center;
}

.links > div:first-child{
max-width: 15em;
background: none  ;
justify-content: flex-start;
}



.links > div:first-child > div{
max-width: 15em;
margin:0;
background: white  ;
}


.links > div:last-child{
  background: none  ;
  justify-content: flex-end;
  margin:0;
}

.links > div:last-child > div , .links > div:first-child > div{
  background: rgba(255, 255, 255, 0.144);
  margin:0 0.5em;
  padding: 0.3em;
  border-radius: 0.5em;
  border: 0.2em solid white;
  display: flex;
  align-items: center;

}


.links > div:first-child > div{
  max-width: 15em;
  margin:0;
  background: white  ;
  }


.links > div:first-child > div a{
    color:rgb(59, 59, 59);
    font-weight: 700;
    text-decoration: none;
    }



.links a{
margin:0 1em;
text-decoration: none;
font-weight: 500;
}


.create{
background: rgba(255, 255, 255, 0.144);
margin:1em 4em;
padding: 0.3em;
border-radius: 0.5em;
border: 0.2em solid white;
max-width: 10em;
align-items: center;
display: flex;
justify-content: center;
}


.create a{
  text-decoration: none;
  }

