*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}


a{
  font-weight: bolder;
  color: white;
}




body {
background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


button{
  width: 4em;
  justify-content: center;
  border-radius: 2em;
  height: 4em;
  align-items: center;
  background: rgba(0, 0, 0, 0.877);
  color: white;
  font-weight: 600;
  margin: 0.5em;
  padding: 0.4em;
}


form {
  margin: 1em 1em 1em 1em  ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  background: rgba(0, 0, 0, 0.507);
  padding: 0 0 0  2em;
}


form > input{
  border-radius: 2em;
  height: 90%;
  border:0;
  margin: 0.2em 0.2em;
  background-color: #093637;
  font-weight: 500;
  color:white;
  padding: 0.5em;
}


textarea{
display: flex;
width: 100%;
border-radius: 2em;
padding: 1em;
height: 4em;
max-height: 10em;
background: none;
border: 0;
resize: none;
color: white;
}

textarea:focus{
  outline: none; /* Eliminar el borde de enfoque predeterminado */
  border: 0;
}



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}


section {
  display: grid;
  min-height: 90vh;
  grid-template-columns: 2fr 2fr; /* Define las columnas */
  grid-template-rows: 1fr 1fr 1fr 6em; /* Define las filas */
  grid-template-areas: 
    "content content"
    "content content"
    "content content"
    "content content";

}


aside{
  background: rgba(0, 0, 0, 0.507);
  position: fixed;
  width: 20%;
  height: 100%;
  overflow-y: scroll;
}


.div_form{
position: fixed;
bottom: 0;
right: 0;
width: 80%;
background: green;
}

#chat-link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}


#chat-link > div{
  display: flex;
  width: 100%;
  margin: 0.5em 1em;
  border-radius: 1em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.616);
  white-space: nowrap; /* Evita que el texto se envuelva en varias líneas */
  overflow: hidden; /* Oculta el texto que excede el contenedor */
  text-overflow: ellipsis;
}


.aside_link a{
  text-decoration: none;
}


main{
  grid-area: content;
}


main > div{
  width: 100%;
  display: flex;  
}


main > div:first-child{
  height: 85%;
  overflow: auto;
  overflow-x: hidden;
  padding: 2em 3em;
  color: white;
}

main > div:last-child{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-box{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20%;
  padding-bottom: 10em;
  width: 80%;
  background: red;
  height: 100%;
}


#chat-box > div{
  display: flex;
  margin: 0.5em 2em;
  border-radius: 1em;
  padding: 1em;
}


.user_name  {
  display: flex;
}


.user{
  background: rgba(0, 0, 0, 0.699);
  width: 100%;
} 


.bot{
  background: rgba(0, 0, 0, 0.705);
  width: 100%;
} 

.bot > a p{
  display: inline-flex;
  margin: 1em 2em;
  width: max-content;
  flex-wrap: wrap;
} 

.bot > a p{
  display: inline-flex;
  width: max-content;
} 


.bot > ul , .bot > ol {
  min-width: 100% ;
  display: flex;
  flex-direction: column;
} 


.bot strong{
  font-weight: 600;
}

.bot code{
  font-family: 'Courier New', Courier, monospace;
}



.button{
  display: flex;
  justify-content: center;
}


.errores{
  position: absolute;
  top: 1em;
  color:red;
  font-weight: 900;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


/* Contenedor del scroll (solo para WebKit) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Parte de la barra de desplazamiento que se mueve */
::-webkit-scrollbar-thumb {
  background-color: #0300008a; /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 10px; /* Radio del borde para hacerlo más redondeado */
}

/* Parte de la barra de desplazamiento en su estado inactivo */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar cuando se pasa el mouse sobre él */
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #0500004d; /* Color de fondo de la barra de desplazamiento */
  border-radius: 10px; /* Radio del borde para el fondo */
}


